body{
    background: #f8f8f8;
    position: relative;
}
.btn{
    width: 610rpx;
    height: 80rpx;
    border-radius: 8rpx;
    background: #9E312E;
    border:2rpx solid #9E302E;
    color: #fff;
    font-size: 30rpx;
    text-align: center;
    line-height: 80rpx;
    margin: 0 auto;
}
