
@font-face {
  font-family: 'BarlowSemiCondensedSemiBold';
  src: url('/static/fonts/BarlowSemiCondensed-SemiBold.woff.ttf');
 }

body{
    background: #f8f8f8;
    position: relative;
    font-family: "BarlowSemiCondensedSemiBold";  
}
.btn{
    width: 610rpx;
    height: 80rpx;
    border-radius: 8rpx;
    background: #9E312E;
    border:2rpx solid #9E302E;
    color: #fff;
    font-size: 30rpx;
    text-align: center;
    line-height: 80rpx;
    margin: 0 auto;
}
//弹窗
.alertbox-content{
    // width: 100%;
    // height: 100%;
    // position: fixed;
    // left: 0rpx;
    // top:0rpx;
    .mask-black{
      background-color: #000;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 22;
      top:0rpx;
      left: 0rpx;
      transition: all;
    }
    .alertbox-cont-main{
      width: 100%;
      min-height: 256rpx;
      position: fixed;
      z-index: 33;
      left: 0rpx;
      bottom: 0rpx;
      background: #fff;
      color: #272727;
      padding-bottom: 40rpx;
  
      .alertbox-cont-title{
        font-size: 32rpx;
        text-align: center;
        height: 73rpx;
        line-height: 73rpx;
        border-bottom: 2rpx solid #ddd;
        position: relative;
  
        span{
          position: absolute;
          right: 40rpx;
          top: 5rpx;
  
          img{
            width: 30rpx;
            height: 30rpx;
            cursor: pointer;
  
          }
        }
      }
      .alertbox-cont-text{
        padding: 50rpx 72rpx;
        p{
          margin-bottom: 20rpx;
          font-size: 28rpx;
          clear: both;
          overflow: hidden;
  
          img{
            width: 34rpx;
            height: 34rpx;
            margin-right: 30rpx;
            float: left;
          }
          .sp1{
            float: left;
            .sp2{
              color: #666666;
              font-size: 24rpx;
              margin-top: 5rpx;
              line-height: 33rpx;
              display: block;
            }
          }
        }
      }
    }
  }
