// 首页
.home-banner-one{
  width: 100%;
  height: 420rpx;
  background: #f8f8f8;
  swiper{
    height: 420rpx;
  }
}
.home-banner-two{
  width: 100%;
  height: 280rpx;
  swiper{
    height: 280rpx;
  }
}
.home-banner-three{
  width: 100%;
  height: 375rpx;
  swiper{
    height: 375rpx;
  }
}